{% extends "base.html" %}
{% block title %}
    Tareas Pendientes
{% endblock %}

{% block content %} 
    <ul class="list-group">
      
     <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." >
      <input str="tarea">
     </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <input str="tarea">
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <input str="tarea">
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <input str="tarea">
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <input str="tarea">
    </li>
  </ul>
  
  {% endblock %}
    


    